body {
  background-color: black;
  margin: 0;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.menu {
  background-color: white;
  color: blue;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.colors {
  background-color: black;
  color: white;
  padding: 0;
}
.levelButton {
  color: blue;
  background-color: inherit;
  border: none;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
}
.selected {
  color: white;
  background-color: blue;
}
.levelButton:focus {
  outline: 0;
}
.colorBox {
  border: 1px solid white;
  height: 150px;
  border-radius: 15px;
  float: left;
  margin: 3% ;
  cursor: pointer;
}
#hard, #easy {
  height: 150px;
  margin-bottom: 20px;
}
#colorGuess{
  margin-bottom: 0px;
}